<h1>Editing Job</h1>

<%= render 'form', job: @job %>

<br>
<%= link_to 'Show', @job, :class => "btn-large waves-effect waves-light light-green" %>

<%= link_to 'Back', jobs_path, :class => "btn-large waves-effect waves-light blue" %>