<h2>Contact A&M Creamery</h2>
		<p class="supertiny">&nbsp;</p>
		<div class = "col s12">
			<table class = "striped">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Andrew Edward</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("aedward@andrew.cmu.edu", "Andrew Edward*", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>97433118785</td>
			</tr>
		</table>

		<p class="note"><br></em></p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			
		</div>
		